#user_activation
  .user-activation.grid
    padding-top 15.3%

  p.options
    margin-left 0.08rem

    a.signup
      display inline-block
      margin 0 0.28rem 0 0

    a.signin,
    a.contact
      display inline-block
      margin 0 0 0 0.28em

