@require '../prtl/_colour'

// $dark-bg-colour = #1c1c1c
$dark-bg-colour = #323232
$dark-txt-colour = #ededed
$dark-txt-err-colour = #fb3939
$dark-border-colour = #1a1913

$dark-header-border-colour = #1a1913
$dark-header-txt-colour = #ababab

$dark-global-header-border-colour = #90a5c3
$dark-global-header-colour = #4d4d4d

$dark-table-header-bg-colour = #222222
$dark-table-header-txt-colour = #a3a3a3

$dark-input-bg-colour = #222222
$dark-input-border-colour = #000000
$dark-input-txt-colour = #f3f3f3

$dark-label-txt-colour = #9c9b9b

$dark-btn-border-colour = #111111
$dark-btn-border-hover-colour = #000000
$dark-btn-hover-colour = #111111
$dark-btn-txt-colour = #ededed
$dark-btn-txt-hover-colour = #f2f2f2

$dark-btn-primary-bg-colour = #222222
$dark-btn-primary-bg-hover-colour = #000000
$dark-btn-secondary-bg-colour = #333333
$dark-btn-secondary-bg-hover-colour = #222222

$dark-placeholder-txt-colour = #666666

$dark-sidebar-border-colour = #161616
$dark-sidebar-bg-colour = #282828
$dark-sidebar-search-bg-colour = #333333
$dark-sidebar-search-txt-colour = #cdcdcd
$dark-sidebar-inner-header-bg-colour = #454545
$dark-sidebar-item-border-colour = #080808
$dark-sidebar-item-bg-colour = #202020
$dark-sidebar-item-hover-colour = #161616
$dark-sidebar-item-txt-colour = #ededed
$dark-sidebar-icon-fill-colour = #666666

body.dark,
body.dark > .wrapper
  background-color $dark-bg-colour
  color $dark-txt-colour

body.dark > .wrapper
  h1.header,
  h2.header,
  h3.header,
  h4.header,
  h5.header,
  h6.header
    border-bottom 1px solid $dark-header-border-colour
    color $dark-header-txt-colour

  #header .global-header
    background-color $dark-global-header-colour
    border-top 3px solid $dark-global-header-border-colour

  button[type="submit"].button,
  input[type="submit"].button,
    border 1px solid $dark-btn-border-colour
    color $dark-btn-txt-colour !important
    &.primary
      background-color $dark-btn-primary-bg-colour
      &:hover
        background-color $dark-btn-primary-bg-hover-colour !important
        border 1px solid $dark-btn-border-hover-colour !important
        color $dark-btn-txt-hover-colour
    &.secondary
      background-color $dark-btn-secondary-bg-colour
      &:hover
        background-color $dark-btn-secondary-bg-hover-colour !important
        border 1px solid $dark-btn-border-hover-colour !important
        color $dark-btn-txt-hover-colour

  button
    background-color $dark-btn-secondary-bg-colour
    border 1px solid $dark-btn-border-colour
    color $dark-btn-txt-colour !important
    &:hover
      background-color $dark-btn-secondary-bg-hover-colour !important
      border 1px solid $dark-btn-border-hover-colour !important
      color $dark-btn-txt-hover-colour

  label
    &:hover
      background none !important
      color $dark-btn-txt-hover-colour

  #sidebar.sidebar
    background-color $dark-sidebar-bg-colour

    .inner-header
      background-color $dark-sidebar-inner-header-bg-colour

    input[type="text"].search
      background-color $dark-sidebar-search-bg-colour
      color $dark-sidebar-search-txt-colour

    > .item.active
      border-left 4px solid $dark-sidebar-item-border-colour
      color $dark-sidebar-item-txt-colour

    > .item.active,
    > .item.active.expanded .item-container a.item.active,
    .item-container a.item.active
      background-color $dark-sidebar-item-bg-colour
      color $dark-sidebar-item-txt-colour

    a.item:hover,
    > .item.active.expanded .item-container a.item:hover,
    > .item-container a.item:hover
      background-color $dark-sidebar-item-hover-colour
      color $dark-sidebar-item-txt-colour

    hr.divider
      border-bottom 1px solid darken($dark-sidebar-border-colour, 9%)

    .item
      color $dark-sidebar-item-txt-colour
      span.icon
        svg
          fill $dark-sidebar-icon-fill-colour
          stroke-width 1

  .content
    .transparent.box
      background-color $dark-bg-colour

    form.form
      label.label
        color $dark-label-txt-colour
      input[type="email"],
      input[type="password"],
      input[type="text"]
        background-color $dark-input-bg-colour
        border 1px solid $dark-input-border-colour
        color $dark-input-txt-colour

      ul.errors
        li
          color $dark-txt-err-colour

    // Note:
    // Apparently, we can't merge these properties.
    // Keey them separatedly.
    *
      &:-moz-placeholder
        color $dark-placeholder-txt-colour
        opacity 1
      &::-moz-placeholder
        color $dark-placeholder-txt-colour
        opacity 1
      &:-ms-input-placeholder
        color $dark-placeholder-txt-colour
      &::-ms-input-placeholder
        color $dark-placeholder-txt-colour
      &::placeholder
        color $dark-placeholder-txt-colour
      &::-webkit-input-placeholder
        color $dark-placeholder-txt-colour

    table
      th
        background-color $dark-table-header-bg-colour
        color $dark-table-header-txt-colour

      td
        border-bottom 1px solid $dark-border-colour
