@require '../partial/_colour'

$light-bg-colour = #ffffff
$light-txt-colour = #222222
$light-line-colour = #838383

body.light,
body.light > .wrapper
  background-color $light-bg-colour
  color $light-txt-colour

  .sidebar
    background-color $light-bg-colour
    border-right 1px solid $light-line-colour
