$error-border-colour = #cb031a
$error-text-colour = #a00214

$link-colour = #95b1d8
$link-hover-colour = #c6d6ed

$global-header-border-color = #90a5c3
$global-header-color = #565656

$header-border-colour = #bcc3c6
$header-text-colour = #2b2d26

$placeholder-text-colour = #bdbdbd

$loader-colour = #666666
