$err-border-colour = #cb031a
$err-txt-colour = #a00214

$link-colour = #95b1d8
$link-hover-colour = #c6d6ed

$global-header-border-colour = #90a5c3
$global-header-colour = #565656

$header-border-colour = #bcc3c6
$header-txt-colour = #2b2d26

$placeholder-txt-colour = #bdbdbd

$loader-colour = #666666

$disabled-colour = #f3f3f3

$sidebar-border-colour = #1d1b15
$sidebar-section-title-colour = #e6e6e6
$sidebar-item-border-colour = #888888
$sidebar-item-txt-colour = #888888
$sidebar-btn-colour = #444444
$sidebar-lbl-colour = #777777
$sidebar-lbl-hover-bg-colour = #f3f3f3
$sidebar-lbl-hover-txt-colour = #222222
