$txt-colour = #444444
$border-colour = #e0e0e0

$err-border-colour = #cb031a
$err-txt-colour = #a00214

$link-colour = #95b1d8
$link-hover-colour = #c6d6ed

$table-header-bg-colour = #c1c1c1
$table-header-txt-colour = #282828

$global-header-border-colour = #90a5c3
$global-header-txt-colour = #ababab
$global-header-bg-colour = #565656

$header-border-colour = #bcc3c6
$header-txt-colour = #2b2d26

$placeholder-txt-colour = #bdbdbd

$loader-colour = #666666

$disabled-colour = #f3f3f3

$input-bg-colour = #f7f9fb
$input-border-colour = #e1e1eb
$input-txt-colour = #666667

$sidebar-bg-colour = #fafafc
$sidebar-border-colour = #f8f9fb
$sidebar-inner-header-bg-colour = #4d4d4d
$sidebar-section-title-colour = #737373
$sidebar-search-bg-colour = #f6f8fa
$sidebar-search-txt-colour = #666667
$sidebar-search-border-colour = #e1e1eb
$sidebar-icon-fill-colour = #5c5c5c
$sidebar-item-border-colour = #888888
$sidebar-item-txt-colour = #8c8c8d
$sidebar-btn-colour = #444444
$sidebar-lbl-colour = #777777
$sidebar-lbl-hover-bg-colour = #f3f3f3
$sidebar-lbl-hover-txt-colour = #222222
