@require '../prtl/_colour'

#namespace
  .button.new
    margin-bottom 0.92rem
    margin-top 0.29rem
    &:hover
      text-decoration none

  table.namespace
    td.name
      max-width 4.6rem
    td.created-at,
    td.action
      max-width 3rem
    td.action
      text-align right
      a
        display inline-block
        margin-right 0.23rem

  form.form
    textarea
      height 4.9em

    button#submit
      margin-top 1.26rem
