// layout
$link-color = #95b1d8
$link-hover-color = #c6d6ed
$loader-color = #666666

.wrapper
  .content
    a,
    a:visited
      color $link-color
      &:hover
        color $link-hover-color

    display flex
    flex-direction column

    .transparent.box
      border 0
      border-radius 0
      box-shadow 0 0 !important

    // form
    form.form
      .header
        margin-bottom 1.33rem

      .message
        margin-top 0.26rem
        margin-bottom 0.64rem
        &.hidden
          display none

      section.container
        padding 0

      label.label
        font-weight 600

  // loading animation
  span.loading
    display inline-block
    overflow hidden
    margin 0 0.68rem
    height 1.28em
    color $loader-color
    vertical-align text-bottom
    line-height 1.49em

    &::after
      display inline-table
      content '|\A/\A–\A\\\A'
      text-align center
      white-space pre
      font-weight boild
      font-family serif
      animation spin 0.32s steps(4) infinite

      @keyframes spin
        to
          transform translateY( -6.0em)

    &.hidden
      display none

// typography
body
  .wrapper
    font-weight 300
    font-size 1.02em
    font-family 'Open Sans', 'DejaVu Sans', Arial, Helvetica, sans-serif

    h1, h2, h3, h4, h5, h6
      font-weight normal
      font-family 'Open Sans', 'DejaVu Sans', Arial, Helvetica, sans-serif
