.wrapper
  // form
  form.form
    .header
      margin-bottom 1.33rem

    .message
      margin-bottom 0.64rem
      margin-top 0.26rem
      &.hidden
        display none

    section.container
      padding 0

    label.label
      font-weight 600
