@require './prtl/_colour'

message =
  .message
    margin-bottom 0.84rem
    margin-top 0
    &.hidden
      display none

.wrapper .message,
.wrapper form.form .message
  {message}

.wrapper
  // form
  form.form
    .header
      margin-bottom 1.03rem
      margin-left 0.06rem

    input.has-errors
      border 1px solid $err-border-colour

    section.container
      padding 0

    label.label
      font-weight 600

    ul.errors
      list-style none
      padding-left 0
      padding-top 0.12rem

      li
        color $err-txt-colour
        font-size 0.9em
        padding-left 0

    button
      margin-top 0.61rem
