@require './prtl/_colour'

html
  box-sizing border-box
  min-height 100%
  position relative
  width 100%

body
  height 100%
  width 100%

  > .wrapper
    bottom 0
    display flex
    flex-direction row
    left 0
    margin 0
    padding 0
    // cloud container
    position absolute
    right 0
    top 0
    width 100%

  #sidebar
    bottom 0
    left 0
    margin 0
    max-width 16.78rem
    overflow-x hidden
    overflow-y auto
    position absolute
    right 0
    top 0
    // scrollbar
    &::-webkit-scrollbar
      display none
    -ms-overflow-style none
    scrollbar-width none // @stylint ignore

  #content
    overflow-x clip
    overflow-y auto
    width 100%

  .container
    margin-bottom 0.28rem
    margin-top 0.73rem

    h4.header
      border-bottom 1px solid $header-border-colour
      color $header-txt-colour
      font-size 1.182em
      font-weight 700
      line-height 1.383em
      margin-bottom 1.32rem
      margin-left 0.12rem
      margin-right 0.07rem
      margin-top 0.74rem
      padding-bottom 0.41rem

    h6
      margin-bottom 0.38rem
      margin-top 1.42rem

    p.note
      margin-bottom 1.47rem

  .content
    display flex
    flex-direction column
