@require './partial/_colour'

.wrapper
  min-height 100%

  .content
    display flex
    flex-direction column

  .container
    margin-bottom 0.28rem
    margin-top 0.73rem

    h4.header
      border-bottom 1px solid $header-border-colour
      color $header-text-colour
      font-size 0.962em
      font-weight 700
      line-height 1.283em
      margin-bottom 1.02rem
      margin-left 0.07rem
      margin-right 0.07rem
      margin-top 0.74rem
      padding-bottom 0.41rem

    h6
      margin-bottom 0.38rem
      margin-top 1.42rem

    p.note
      margin-bottom 1.47rem
