@require './partial/_colour'

.wrapper
  .content
    a,
    a:visited
      color $link-colour
      &:hover
        color $link-hover-colour

    .transparent.box
      border 0
      border-radius 0
      box-shadow 0 0 !important

      p.options
        margin-bottom 0.06rem
        margin-left 0.13rem
        padding-bottom 0

      p.links
        font-size 89%
        margin-left 0.10rem
        margin-top 0.58rem
        a.theme
          cursor pointer
          margin-left 0.41rem

    // Note:
    // Apparently, we can't merge these properties.
    // Keey them separatedly.
    *
      &:-moz-placeholder
        color $placeholder-text-colour
        opacity 1
      &::-moz-placeholder
        color $placeholder-text-colour
        opacity 1
      &:-ms-input-placeholder
        color $placeholder-text-colour
      &::-ms-input-placeholder
        color $placeholder-text-colour
      &::placeholder
        color $placeholder-text-colour
      &::-webkit-input-placeholder
        color $placeholder-text-colour
