@require './prtl/_colour'

.wrapper
  .content
    img.logo
      margin-bottom 0.32rem
      margin-left -0.29rem

    a,
    a:visited
      color $link-colour
      &:hover
        color $link-hover-colour

    .transparent.box
      border 0
      border-radius 0
      box-shadow 0 0 !important

      p.options
        margin-bottom 0.06rem
        margin-left 0.13rem
        padding-bottom 0

      p.links
        font-size 89%
        margin-left 0.10rem
        margin-top 0.58rem
        a.theme
          cursor pointer
          margin-left 0.41rem

    // Note:
    // Apparently, we can't merge these properties.
    // Keey them separatedly.
    *
      &:-moz-placeholder
        color $placeholder-txt-colour
        opacity 1
      &::-moz-placeholder
        color $placeholder-txt-colour
        opacity 1
      &:-ms-input-placeholder
        color $placeholder-txt-colour
      &::-ms-input-placeholder
        color $placeholder-txt-colour
      &::placeholder
        color $placeholder-txt-colour
      &::-webkit-input-placeholder
        color $placeholder-txt-colour

    table
      width 100%

      th,
      td
        padding 0.23rem 0.46rem
        text-align left

      th:first-child,
      td:first-child
        padding-left 0.66rem

      th:last-child,
      td:last-child
        padding-right 0.66rem

      th
        background-color $table-header-bg-colour
        color $table-header-txt-colour
        font-weight bold
        height 1.93em

      td
        border-bottom 1px solid $border-colour

#error_message
  display table
  height 100%
  margin auto
  width 100%
  text-align center

  .modal
    display table-cell
    vertical-align middle
    margin-top auto

  p.message
    a.close
      font-size 1.41em
      display inline-block
      margin 0 1.33rem 0 0.14rem
