@require './prtl/_colour'

#sidebar
  background-color $sidebar-bg-colour
  border-right 0
  display none
  max-width 18.97rem
  min-height 100%
  min-width 16.78rem
  position fixed
  transition transform 0.28s ease 0.08s
  visibility hidden
  z-index 2147483647

  .inner-header
    background-color $sidebar-inner-header-bg-colour
    .logo
      img
        margin 0.11rem 0.38rem -0.18rem -0.06rem
      margin 0
      padding 0
    .version
      display inline-block
      float right
      margin-left 0.41rem
      margin-top 0.22rem
      text-align right
      vertical-align bottom

    & ~ .item.right
      margin 0.99rem 0.02rem 0.82rem 0

  .item
    color $sidebar-item-txt-colour

  .section-title
    color darken($sidebar-section-title-colour, 18%)
    font-size 0.81em
    font-weight bold
    letter-spacing 0.086rem
    margin-bottom 0.45rem
    margin-left 1.189rem

  > .item.active
    border-left 4px solid $sidebar-item-border-colour
    color $sidebar-item-txt-colour
    font-weight bold
    padding-left 1.06rem
    padding-right 0
    > .item:first-child
      padding-top 0
    > .item:last-child
      padding-bottom 0

  > .item.active,
  > .item.active.expanded .item-container a.item.active,
  .item-container a.item.active
    background-color lighten($sidebar-item-border-colour, 87%)
    color $sidebar-item-txt-colour

  a.item:hover,
  > .item.active.expanded .item-container a.item:hover
    background-color lighten($sidebar-item-border-colour, 72%)
    color $sidebar-item-txt-colour

  .item-container
    margin-top 0

  > .item.active.expanded
    padding-left 0
    padding-right 0
    .item
      padding-left 1.06rem
      padding-right 0

    .item-container
      font-weight normal
      .item
        padding-left 1.03rem
        &.disabled:hover
          background-color inherit !important
          cursor not-allowed

    ul.item-container
      .item
        padding-left 2.65rem

  ul.item-container
    padding-left 0

  .divider
    margin-bottom 1.8rem
    margin-top 3rem

  input[type="text"].search
    background-color $sidebar-search-bg-colour
    border 1px solid $sidebar-search-border-colour
    border-radius 0.14rem
    color $sidebar-search-txt-colour
    height 2.11rem
    margin 0.26rem 0 1.64rem 0.02rem
    padding 0 0.48rem 0 1.12rem
    width 14.08rem

  .item > span.description
    display block
    font-size 0.79em
    margin-left 0.11rem
    margin-top 0.18rem

  a.item
    &.active
      font-weight bold

  .item
    margin-bottom 0
    margin-top 0

    span.icon
      float left
      margin-right 0.46rem
      svg
        fill $sidebar-icon-fill-colour
        stroke-width 1

  .item > a.theme
    cursor pointer
    margin-left 0.41rem

  .item.disabled
    &:hover
      background-color inherit !important
      cursor not-allowed

  .message
    border 0

#sidebar_checkbox
  display none

#sidebar_checkbox.pinned + #sidebar
  display block
  position relative
  visibility visible

#sidebar_checkbox,
#sidebar_show_lbl,
#sidebar_hold_btn,
#sidebar_hide_btn
  &:focus
    outline 0
  &::-moz-focus-inner
    border 0

#sidebar_checkbox:checked + #sidebar
  display block
  visibility visible

#sidebar_show_lbl
  border 0
  color $sidebar-lbl-colour
  cursor pointer
  display inline-block
  float left
  font-family monospace
  font-size 1.22em
  font-weight bold
  margin-left 0.522rem
  margin-top 0.679rem
  padding 0.16rem 0.36rem
  transition transform 0.22s ease 0.08s
  width 1.82rem
  &:hover
    background-color $sidebar-lbl-hover-bg-colour
    color $sidebar-lbl-hover-txt-colour
  &.hidden
    visibility hidden

#sidebar_hold_btn
  color $sidebar-btn-colour

#sidebar_hide_btn
  color $sidebar-btn-colour
  &:disabled
    display none

@media only screen and (max-width: 1280px)
  #sidebar
    max-width 25%
    min-width 16.97rem
@media only screen and (max-width: 980px)
  #sidebar
    max-width 30%
    min-width 14.97rem
@media only screen and (max-width: 768px)
  #sidebar
    max-width 40%
    min-width 12.97rem
@media only screen and (max-width: 640px)
  #sidebar
    max-width 30%
    min-width 10.97rem
  #sidebar .note.item
    display none
@media print
  #sidebar
    display none
