.wrapper
  font-family 'Open Sans', 'DejaVu Sans', Arial, Helvetica, sans-serif
  font-size 1.02em
  font-weight 300

  h1, h2, h3, h4, h5, h6
    font-family 'Open Sans', 'DejaVu Sans', Arial, Helvetica, sans-serif
    font-weight normal
