$global-header-border-color = #90a5c3
$global-header-color = #565656

#header
  .content
    .global-header
      margin 0
      padding 0
      min-height 2.42rem
      border-top 3px solid $global-header-border-color
      background-color $global-header-color
      text-align center
      line-height 1.32rem
