#signin
  .signin.grid
    padding-top 12%

    form.form
      label.label
        margin-bottom 0.69rem

  a.reset-password,
    display inline-block
    margin 0 0.06rem 0 0

  a.signup
    display inline-block
    margin 0 0.12rem 0 0.28rem
